.Profile
    padding-top: 20px
    
.Profile__info
    display: flex

.Profile__sprite
    min-width: 96px
    min-height: 96px
    border-radius: 96px
    background-color: $white

.Profile__action
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: stretch
    width: 100%
    min-height: 96px

    > .Buttom
        margin-bottom: 0

.Profile__name
    text-transform: uppercase
    text-align: center
    margin-bottom: 10px
    font-weight: 600