.All

.All__container

.All__list
    list-style: none
    padding: 0
    margin: 10px 0 20px

.All__item
    display: flex
    align-items: stretch
    justify-content: space-between
    min-height: 40px
    text-transform: uppercase
    background-color: $white
    margin-bottom: 1px
    border-radius: 5px
    padding: 0 0 0 20px
    box-sizing: border-box
    
.All__link
    display: flex
    align-items: center
    text-decoration: none
    line-height: 1
    color: $color-secondary

.All__add,
.All__remove
    width: 40px
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    border: none
    background-color: $color-secondary
    color: $white
    font-size: 26px
    
.All__remove
    background-color: lighten($color-primary, 25%)

.All__loadmore
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto 20px
    width: 100%
    max-width: 280px
    text-align: center
    min-height: 40px
    text-transform: uppercase
    text-decoration: none
    font-size: 14px
    color: $white
    background-color: $color-secondary
    border: 1px solid darken($color-secondary, 50%)
    border-bottom-width: 3px
    border-radius: 10px
    