.Home

.Home__container

.Home__clean
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    padding-top: 20px
    
    > img
        width: 100px
        height: auto

    > p
        color: #622A2D
        text-transform: uppercase
        font-weight: bold
        