
$color-primary: #E30000
$color-secondary: #4D8DFF
$white: #fff

$red-dark: #3B000C

body
    font-family: sans-serif

.container
    width: 90%
    max-width: 960px
    margin: 0 auto
    
.App
    display: flex
    flex-direction: column
    background-color: $color-primary
    color: $white
    height: 100vh

.App__content
    flex: 1
    overflow: auto

.Button
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto 20px
    padding: 0 30px
    min-height: 36px
    text-align: center
    min-height: 40px
    text-transform: uppercase
    text-decoration: none
    font-size: 14px
    color: $white
    background-color: $color-secondary
    border: 1px solid darken($color-secondary, 50%)
    border-bottom-width: 3px
    border-radius: 10px
    cursor: pointer

    &:hover
        background-color: darken($color-secondary, 15%)
    &:active
        opacity: .5

@import 'components/Header'
@import 'components/Navigation'
@import 'components/Loading'
@import 'components/Item'

@import 'pages/All'
@import 'pages/Home'
@import 'pages/Pokemon'

@import 'pages/pokemon/Profile'
